.btn {
	position: relative;
	z-index: 0;
	display: inline-flex;
	padding: $bu $bu*2.25;
	justify-content: center;
	align-items: center;
	gap: $bu*0.75;

	font-size: $bu*1.125;
	line-height: $bu*1.5;
	text-align: left;
	font-weight: 700;
	text-decoration: none;
	color: $white;

	background: transparent;
	border-radius: $bu*4;
	border: none;
	transition: all ease-out .2s;
	cursor: pointer;

	// 992px +
	@media (min-width: $breakpoint-lg) {
		gap: $bu;
		padding: $bu*1.25 $bu*3;
		font-size: $bu*1.5;
		line-height: $bu*2;
	}

	&:hover,
	&:focus {
		&::before {
			width: calc(100% + 4px);
			height: calc(100% + 4px);
			background: $blue-hover;

			@media (min-width: $breakpoint-lg) {
				width: calc(100% + 8px);
				height: calc(100% + 8px);
			}
		}
	}

	&:active {
		&::before {
			width: 100%;
			height: 100%;
			background: $blue-active;
		}
	}

	&::before {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%);

		width: 100%;
		height: 100%;

		border-radius: $bu*30;
		transition: all ease-out .2s;

		background: $blue;
	}


	.ico {
		flex-shrink: 0;
		width: $bu*1.5;
		height: $bu*1.5;
		background: url('../img/ico-win-24.svg') 50% 50% no-repeat;
		background-size: 100%;
		filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(201deg) brightness(106%) contrast(106%);

		// 992px +
		@media (min-width: $breakpoint-lg) {
			width: $bu*2;
			height: $bu*2;
		}
	}


	//
	//	Secondary button
	//
	&.btn-secondary {
		color: $blue-dark;

		&:hover,
		&:focus {
			&::before {
				background: $turquoise-hover;
			}
		}
	
		&:active {
			&::before {
				background: $turquoise-active;
			}
		}

		&::before {
			background: $turquoise;
		}

		.ico {
			filter: none;
		}
	}


	//
	// Button – Sizes
	//
	&.size-sm {
		gap: $bu*0.5;
		padding: $bu*.75 $bu*1.5;
		font-size: $bu*.875;
		line-height: $bu;

		// 992px +
		@media (min-width: $breakpoint-lg) {
			gap: $bu*0.75;
			padding: $bu $bu*1.75;
			font-size: $bu;
			line-height: $bu*1.125;
		}

		.ico {
			width: $bu;
			height: $bu;
		}
	}
}